@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.58)), url('./img/1.jpg');
	min-height: 100vh;
}